<!DOCTYPE html>
<html>

<head>
  <title>Assign Numbers</title>
  <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <style>
    .failed { color:red }
    code { border: none !important; }
  </style>
</head>

<body class="small-container">
<div id='app'>

  <form class="new" @submit.prevent="assign" v-if="!assignment.token">
    <label>
      Session <input type="text" name="session" v-model="session_ID" required placeholder="Session name"/>
    </label>
    <label>
      Participant name (or alias)<input type="text" name="name" v-model="name" required placeholder="Name" />
    </label>
    <input type="submit" value="Register" class="muted-button" />
  </form>

  <form class="token" v-else>
    <h3>Credentials for {{ name }}</h3>
    <label>User:</label><code>{{ assignment.user }}</code>
    <label>Password:</label><code>{{ assignment.password }}</code>
    <p></p> <p></p>
    <button @click="newAssignment">New...</button>
  </form>


  <div v-if="assignment.failed" class="failed">
    {{ assignment.failed }}
  </div>

</div>
</body>

<script>
/* global Vue axios */ //> from vue.html
const $ = sel => document.querySelector(sel)
const GET = (url) => axios.get('/api/assign'+url)
const POST = (cmd,data) => axios.post('/api/assign'+cmd,data)

const app = Vue.createApp ({

  data() {
    return {
      name: new URL(location.href).searchParams.get('name') || localStorage.getItem('assignment-name'),
      session_ID: new URL(location.href).searchParams.get('session') || localStorage.getItem('session'),
      assignment: {},
    }
  },

  methods: {

    async assign () {
      const { name, session_ID } = app
      try {
        const res = await POST(`/SessionAssignments`, { name, session_ID })
        app.assignment = res.data

        localStorage.setItem('assignment-name', name)
        localStorage.setItem('session', session_ID)

        app.getAssignment()

      } catch (e) {
        app.assignment = { failed: e.response.data.error ? e.response.data.error.message : e.response.data }
      }
    },

    async newAssignment() {
      app.assignment = {}
      app.name = undefined
      localStorage.removeItem('assignment-name')
    },

    async getAssignment() {
      const { name, session_ID } = app
      if (name && session_ID) {
        try {
          const res = await GET(`/SessionAssignments(name='${encodeURIComponent(name)}',session_ID='${encodeURIComponent(session_ID)}')/credentials`)
          Object.assign(app.assignment, res.data)

        } catch (e) {
          if (e.response?.status !== 404)
            app.assignment = { failed: e.response.data.error ? e.response.data.error.message : e.response.data }
        }
      }
    }

  }
}).mount('#app')

app.getAssignment()

axios.interceptors.request.use(csrfToken)
function csrfToken (request) {
  if (request.method === 'head' || request.method === 'get') return request
  if ('csrfToken' in document) {
    request.headers['x-csrf-token'] = document.csrfToken
    return request
  }
  return fetchToken().then(token => {
    document.csrfToken = token
    request.headers['x-csrf-token'] = document.csrfToken
    return request
  }).catch(_ => {
    document.csrfToken = null // set mark to not try again
    return request
  })

  function fetchToken() {
    return axios.get('/', { headers: { 'x-csrf-token': 'fetch' } })
    .then(res => res.headers['x-csrf-token'])
  }
}

</script>

</html>
