<!DOCTYPE html>
<html>

<head>
  <title>Assign</title>
  <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <style>
    .failed { color:red }
  </style>
</head>

<body class="small-container">
<div id='app'>

  <form class="new" @submit.prevent="assign" v-if="!assignment.token">
    <label>
      Session <input type="text" name="session" v-model="session_ID" required placeholder="Session name"/>
    </label>
    <label>
      Participant name (or alias)<input type="text" name="name" v-model="name" required placeholder="Name" />
    </label>
    <input type="submit" value="Register" class="muted-button" />
  </form>
  <form class="token" v-else>
    <h3>Credentials for {{ name }}</h3>
    <label>
      User: <input type="text" name="user" v-model="assignment.user" readonly />
    </label>
    <label>
      Password: <input type="text" name="password" v-model="assignment.password" readonly />
    </label>
  </form>

  <div v-if="assignment.failed" class="failed">
    {{ assignment.failed }}
  </div>

</div>
</body>

<script>
/* global Vue axios */ //> from vue.html
const $ = sel => document.querySelector(sel)
const GET = (url) => axios.get('/api/assign'+url)
const POST = (cmd,data) => axios.post('/api/assign'+cmd,data)

const app = Vue.createApp ({

  data() {
    return {
      name: new URL(location.href).searchParams.get('name'),
      session_ID: new URL(location.href).searchParams.get('session') || 'TechEd-AD264',
      assignment: {},
    }
  },

  methods: {

    async assign () {
      const { name, session_ID } = app
      try {
        const res = await POST(`/SessionAssignments`, { name, session_ID })
        app.assignment = res.data

        const url = new URL(location.href)
        url.searchParams.set('name', name)
        url.searchParams.set('session', session_ID)
        history.pushState(null, '', url)

        app.getAssignment()

      } catch (e) {
        app.assignment = { failed: e.response.data.error ? e.response.data.error.message : e.response.data }
      }
    },

    async getAssignment() {
      const { name, session_ID } = app
      if (name && session_ID) {
        try {
          const res = await GET(`/SessionAssignments(name='${encodeURIComponent(name)}',session_ID='${encodeURIComponent(session_ID)}')/credentials`)
          Object.assign(app.assignment, res.data)

        } catch (e) {
          if (e.response?.status !== 404)
            app.assignment = { failed: e.response.data.error ? e.response.data.error.message : e.response.data }
        }
      }
    }

  }
}).mount('#app')

app.getAssignment()

</script>

</html>
