<!DOCTYPE html>
<html>

<head>
    <title>Assign</title>
    <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <style>
        .failed { color:red }
    </style>
</head>

<body class="small-container">
<div id='app'>

    <form class="new" @submit.prevent="assign" v-if="!assignment.token">
        <label>
            Session <input type="text" name="session" v-model="session_ID" required placeholder="Session name"/>
        </label>
        <label>
            Participant name (or alias)<input type="text" name="name" v-model="name" required placeholder="Name" />
        </label>
        <input type="submit" value="Register" class="muted-button" />
    </form>
    <form class="token" v-else>
        <label> Credentials for: {{ name }}</label>
        <label>
            User name: <input type="text" name="user" v-model="assignment.user" readonly />
        </label>
        <label>
            Password: <input type="text" name="password" v-model="assignment.password" readonly />
        </label>
    </form>

    <div v-if="assignment.failed" class="failed">
        {{ assignment.failed }}
    </div>

</div>
</body>

<script src="app.js"></script>
</html>
